h1, h2, h3, h4, h5 {
  color: #666;
  font-family: mplus-1p-regular, serif;
  margin-bottom: 24px;
  padding: 0.5em;
  text-shadow: 1px 1px 3px #999;
}
 
h1 {
  counter-reset: h2;
  font-size: 32px;
}
 
h2 {
  border-left: 7px solid #ccc;
  border-bottom: 1px solid #ccc;
  counter-reset: h3;
  font-size: 24px;
}
 
h2:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}
 
h3 {
  border-left: 7px solid #ccc;
  border-bottom: 1px dashed #ccc;
  counter-reset: h4;
  font-size: 20px;
  margin-left: 24px;
}
 
h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) " ";
}
 
h4 {
  border: 1px solid #ccc;
  border-left: 7px solid #ccc;
  counter-reset: h5;
  font-size: 18px;
  margin-left: 36px;
}
 
h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) " ";
}
 
h5 {
  border-left: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  font-size: 16px;
  margin-left: 48px;
}
 
h5:before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
}
